.Good {
    height: 600px;
    width: 70%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px gray;
}
.Ukk {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: red;
}
.Hold {
    height: 600px;
    width: 60px;
    background-color: white;
    border: solid 1px gray;
    margin-top: 50px;
}
.perl {
    height: 250px;
    width: 250px;
    border-radius: ;
}